.box{
    width: 75px;
    height: 75px;
    background: rgb(105, 105, 105);
    float: left; 
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
   
}

.bok{
    width: 75px;
    height: 75px;
    background: rgb(105, 105, 105);
    float: left;
    margin: 1%;
    padding: 1%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}

.bor{
    width: 75px;
    height: 75px;
    background: rgb(105, 105, 105);
    float: left;
    margin: 1%;
    padding: 1%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.bot{
    width: 75px;
    height: 75px;
    background: rgb(105, 105, 105);
    float: left;
    margin: 1%;
    padding: 1%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.boj{
    width: 75px;
    height: 75px;
    background: rgb(105, 105, 105);
    float: left;
    margin: 1%;
    padding: 1%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.bom{
    width: 75px;
    height: 75px;
    background: rgb(105, 105, 105);
    float: left;
    margin: 1%;
    padding: 1%;
    border-radius: 50px;
}

.bos{
    width: 150px;
    height: 75px;
    background: rgb(105, 105, 105);
    float: left;
    margin: 1%;
    padding: 1%;
    border-radius: 45px;
}

.boy{
    width: 75px;
    height: 75px;
    background: rgb(105, 105, 105);
    float: left;
    margin: 1%;
    padding: 1%;
}

